@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.word span:nth-child(2), .word span:nth-child(4), .word span:nth-child(8){
  font-family: 'Piazolla', sans-serif;
  font: 700;
  font-size: 48px;
  font-family: 'Ceviche One', sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
}
.word span:nth-child(1), .word span:nth-child(5), .word span:nth-child(9){
  font: bold;
  font-size: 28px;
  font-family: 'Raleway Dots', sans-serif;
  text-decoration: overline;
  text-transform: uppercase;
}
.word span:nth-child(7){
  font: 400;
  font-size: 60px;
  font-family: 'Raleway Dots', sans-serif;
  text-decoration: line-through;
  text-transform: uppercase;
}

/* Sample CSS for the WHY word */
.word .borderLightGreen{
  border: 10px dotted rgb(144, 238, 144);
  background-color: rgb(99, 42, 52);
}
.word .borderRed{
  border-color: rgb(255, 0, 0);
  background-color: rgb(226, 164, 245);
}
.word .borderOrange{
  border: 10px double rgb(251, 221, 166);
  background-color: rgb(0, 255, 255);
  color: rgb(36, 63, 36);
}
.word .borderBlue{
  border-color: rgb(59, 59, 224);
  background-color: rgb(231, 250, 250);
  color: rgb(103, 16, 185);
}
.word .borderPink{
  border-color: rgb(255, 192, 203);
  background-color: purple;
}
.colorRed{
  color: #ff0000;
}

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}



/* DID word */

.word .didDLetter {
  border-color: #00ffff;
  color: #080806;
  font-family: "Raleway Dots", sans-serif;
  background-color: rgb(240, 154, 42);
  font-weight: 700;
}

.didILetter {
  color: #00ffff;
}

.didDTwoLetter {
  color: #080806;
  text-decoration: none;
  text-transform: uppercase;
}

/* THE word */

.theTLetter {
  font-size: 40px;
}

.theHLetter {
  font-size: 30px;
  font-weight: 400;
}

.theELetter {
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
}

/* FRONT-END word */

.frontendFLetter {
  color: #ff0000;
}

.word .frontendRLetter {
  border-color: #6b8e23;
  background-color: #7fffd4;
  color: #282a56;
}

.frontendOLetter {
  color: #ff0000;
}

.word .frontendNLetter {
  color: #00ffff;
  background-color: #5b5e96;
}

.frontendTLetter {
  text-decoration: none;
  text-transform: uppercase;
}

.frontendELetter {
}

.frontendNTwoLetter {
  text-decoration: none;
  text-transform: uppercase;
}

.frontendDLetter {
}

/* DEVELOPER word */

.developerDLetter {
  color: #7fffd4;
}
.developerELetter {
  color: #ff0000;
}
.developerVLetter {
}
.word .developerETwoLetter {
  border-color: rgb(43, 255, 0);
  background-color: #6b8e23;
}
.developerLLetter {
}
.developerOLetter {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
}
.developerPLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.developerEThreeLetter {
}
.developerRLetter {
}

/* TAKE word */

.takeTLetter {
}
.word .takeALetter {
  border-color: #f0f8ff;
  color: #f9f2ea;
  background-color: #ff8c00;
}
.takeKLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.takeELetter {
  border-color: #7fffd4;
  background-color: #e3bd8e;
  color: #663399;

}

/* UP word */

.upULetter {
  border-radius: 10px;
  border-color: #adff2f;
  background-color: #ffc0cb;
}
.upPLetter {
  text-decoration: none;
  text-transform: uppercase;
}

/* GARDENING word */

.gardeningGLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.gardeningALetter {
  background-color: #00ff6a;
}
.gardeningRLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.gardeningDLetter {
}
.word .gardeningELetter {
  background-color: #080806;
  border-color: #adff2f;
  color: #00ffff;
}
.gardeningNLetter {
}
.word .gardeningILetter {
  background-color: #f9f905;
  border-color: #2fffee;
  color: #00ff37;
}
.gardeningNTwoLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.gardeningGTwoLetter {
}

/* BECAUSE word */

.becauseBLetter {
}
.word .becauseELetter {
  border-color: #e3bd8e;
  color: #00ffff;
}
.becauseCLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.becauseALetter {
}
.becauseULetter {
  background-color: #66fc20;
}
.becauseSLetter {
}
.becauseETwoLetter {
}

/* THEY word */

.theyTLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.theyHLetter {
}
.word .theyELetter {
  border-color: #080806;
  background-color: #00ff37;
  color: #080806;
}
.theyYLetter {
}

/* WANTED word */

.wantedWLetter {
}
.word .wantedALetter {
background-color: #f0f8ff;
color: #00ff37;
}
.wantedNLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.word .wantedTLetter {
  background-color: #f0f8ff;
  border-color: #2fffee;
  color: #00ff37;
}
.wantedELetter {
}
.wantedDLetter {
  background-color: #ffc0cb;
}

/* TO word */

.toTLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.word .toOLetter {
background-color: #f0f8ff;
border-color: rgb(59, 125, 88);
color: #00ff37;
}

/* IMPROVE word */

.word .improveILetter {
  border-color: #00ff37;
  background-color: #00ffff;
  color: #080806;
}
.improveMLetter {
}
.improvePLetter {
}
.improveRLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
  text-decoration: none;
  text-transform: uppercase;
}

/* THEIR word */

.theirTLetter {
}
.word .theirHLetter {
  border-color: #d27b17;
  background-color: #ff00fb;
  color: #e0e00a;
}
.word .theirELetter {
  border-color: #94a899;
  background-color: #9bfdfd;
  color: #080806;
}
.theirILetter {
}
.word .theirRLetter {
  border-color: #eeff00;
  background-color: #b1bcbc;
  color: #555502;
}

/* ROOT word */

.word .rootRLetter {
  border-color: #00ff1a;
  background-color: #b1bcbc;
  color: #f901f9;
}
.rootOLetter {
}
.word .rootOTwoLetter {
  border-color: #00ffd5;
  background-color: #f55f85;
  color: #ffff06;
}
.word .rootTLetter {
  border-color: #00ff6a;
  background-color: #3a3f3c;
  color: #05d264;
}

/* SKILLS word */

.skillsSLetter {
}
.word .skillsKLetter {
  color: #ffc0cb;
  border-color: #00ff37;
  background-color: #080806;
}
.skillsILetter {
}
.skillsLLetter {
  text-decoration: none;
  text-transform: uppercase;
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
  text-decoration: none;
  text-transform: uppercase;
}

/* SYMBOLS */

.word .hyphen {
  color: #f50c33;
  border-color: #f2ff00;
  background-color: #080806;
}
.word .exclamation-mark {
  color: #01675f;
  border-color: #bbff00;
  background-color: #080806;
  text-decoration: none;
  text-transform: uppercase;
}
.word .question-mark {
  color: #d900ff;
  border-color: #008cff;
  background-color: #f3fbb8;
}
